@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

/* Default CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* Set default row to have all sections of the webpage with this format */
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

.container{
    padding: 80px 0px ;
}

.blue{
    color: blue;
}

h1{
    font-size: 48px;
    text-align: center;
}

p{
    font-size: 20px;
}

img{
    width: 100%;
}

.btn{
    /* width: 100%;  */
    padding: 12px 24px;
    margin-bottom: 24px;
    border-radius: 16px;
    background-color: blue;
    color: white;
}

HTML{
    scroll-behavior: smooth;
}

main{
    width: 100vw;
}


/* CSS FOR NAVIGATION BAR */

#nav__bar{
    /* Set the colour of the section */
    background-color: rgb(220, 239, 255);
    width: 100vw;
}

.img__logo{
    /* Adjusting the size of the logo */
    width: 150px;
    
}

.nav{
    /* Put the image and links side by side which are under the same parent */
    display: flex;
    /* Vertically aligns the items to the center of the nav */
    align-items: center;
    /* Horizontally adds space between the links and image */
    justify-content: space-between;
    /* Add padding around the nav for the image and links
    8 top/bottom and 32 left/right */
    padding: 8px 32px;
   
}

.nav_link,
.nav_link--login{
    text-decoration: none;
    color: black;
    font-weight: bold;
   
    
}

.nav_link{
    margin-right: 48px;
}

.nav_link:hover,
.nav_link--login:hover{
    color: blue;
    text-decoration: underline;
    transition: all 600ms ease;
}


.nav_link--login{
    padding-right: 12px;
}

.nav_link--signup{
    background-color: blue;
    color: white;
    padding: 12px 24px;
    border-radius: 20px;
    text-decoration: none;
}

.nav_link--signup:hover{
    background-color: darkblue;
    color: white;
    transition: all 500ms ease;

}

/* CSS FOR LANDING PAGE */

#landing{

    display: flex;
    flex-direction: column;
    padding-top: 72px;
    
}

.landing_content--left{
    width: 40%;
    float: left;
    padding-left: 12px;

}

.landing_content--right{
    width: 60%;
    float: right;
    
}

.img__landing{
    width: 100%;
    
}

.landing__title{
    margin-bottom: 24px;
    animation: animate-landing 800ms ease;
}

.landing__para{
    text-align: center;
    animation: animate-landing 800ms ease;
}

@keyframes animate-landing{
    0%{
        transform: scale(0);
    }

    50%{
        transform: scale(1.3);
    }

    100%{
        transform: scale(1);
    }
}

.emailsubmit{
    margin-top: 24px;
    animation: animate-landingtitle 800ms ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.landinginput{
    width: 100%;
    border-radius: 20px;
    padding: 12px 0;
    margin-bottom: 12px;
    text-align: center;
}

.lighttext{
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 8px;
    
}

.customer_img{
    width: 130px;
    height: 50px;
    background-image: none;
    padding: 0 12px;
    animation: animate-landing 800ms ease;
}

.customer_img-wrapper{
    display: flex;
    justify-content: center;
    
}

/* CSS FOR FEATURES PAGE */

#features{
    background-color: rgb(220, 239, 255);
    animation: fading-in 1000ms ease ;
}

.Subtitle__feature{
    text-align: center;
    color: blue;
    font-size: 20px;
}

.para_wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.features__para{
    text-align: center;
    max-width: 480px;

}

.features__img{
    width: 100px;    
    
}

.services{
    display: flex;
    flex-wrap: wrap;
}

.service{
    display: flex;
    width: calc(100%/3);
    
}

.service_desc{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    padding: 16px 0;
}

@keyframes fading-in{

    0%{
        opacity: 0;
        transform: translateX(-40px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


/* CSS FOR QUALITY-WORK PAGE */

.qualitywork__left{
    width: 50%;
    float: left;
    padding-left: 12px;
}

.qualitywork__right{
    width: 50%;
    float: right;
}


.Subtitle__Qualitywork{
    color: blue;
    font-size: 16px;
}

.qualitywork__title{
    text-align: left;
    padding: 12px 0;
    
}

.qualitywork__para{
    margin-bottom: 32px;
}

.img__qw{
    width: 100%;
}

#quality__work{
    display: flex;
    flex-direction: column;
}

/* CSS FOR GET STARTED PAGE */

#steps{
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 239, 255);
}

.steps__left{
    width: 50%;
    float: left;
}

.steps__img{
    width: 100%;
}

.steps__img--wrapper{
    margin: 0px 12px;
}

.steps__right{
    width: 50%;
    float: right;
    
}

.step_num{
    padding: 8px 12px;
}

.steplist{
    display: flex;
    
}

.step_desc{
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    
}

/* CSS FOR PRICES PAGE */

#prices{
    display: flex;
    flex-direction: column;
    
}


.Subtitle__prices{
    color: blue;
    font-size: 16px;
    text-align: center;
}

.prices__title{
    padding: 12px 0;
   
}

.prices__para{
    max-width: 480px;
    text-align: center;
    margin: 0 auto;
    padding: 32px 0px;

}

.plans{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.plan__personal,
.plan__business,
.plan__enterprise
{
    width: calc(100%/3);
    max-width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    border-radius: 16px;
    margin-right: 12px;
    padding-bottom: 60px;
   
}

.plan__personal,
.plan__enterprise{
    background-color: rgb(42, 30, 171);
    color: white;
}

.plan__business{
    background-color:  rgb(68, 158, 231);
    color: white;
}

.plan__personal--btn,
.plan__enterprise--btn,
.plan__business--btn
{
    background-color: rgb(42, 30, 171); 
    margin: 0px 48px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
}

.plan__business--btn{
    background-color:  rgb(68, 158, 231);
}


.plan__personal--btn:hover,
.plan__enterprise--btn:hover,
.plan__business--btn:hover{
    background-color: black;
    color: white;
    transition: all 500ms ease;
    
}

.plan__personal:hover,
.plan__enterprise:hover,
.plan__business:hover{
    transform: scale(1.05);
    transition: all 500ms ease;
    border: 4px solid blue;
}

.price{
    font-size: 32px;
    font-family: bold 700;
}


/* CSS FOR FOOTER PAGE */

#footer{
    background-color: rgb(42, 30, 171);
}

.links{
    display: flex;
    flex-wrap: wrap;
    padding-top: 24px;
}

.link{
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    align-items:center ;
    color: white;
}

.linkfooter_info{
    padding: 12px 0;
}

.img__logo--footer{
    width: 100px;
}

.footer__para{
    font-size: 12px;
}

.linkfooter_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.footer__editlink{
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 4px;
}

.footer__editlink:hover{
    text-decoration: underline;
    color: white;
}

.header_footer{
    font-size: 16px;
    font-family: bold 700;
}

i{
    padding-right: 12px;
}

@media (max-width: 768px){
    
    .nav_link{
        display: none;
    }

    .landing_content--left{
        width: 100%;
        padding: 0px 48px;
    }

    .customer_img-wrapper,
    .emailsubmit,
    .lighttext{
        display: none;
    }

    .landing_content--right{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img__landing{
        width: 500px;
    }

    .service{
        display: flex;
        width: calc(100%/2);
        
    }

    .qualitywork__left{
        width: 100%;
        
    }

    .qualitywork__title,
    .qualitywork__left{
        text-align: center;
        padding: 8px 24px;
    }

    .qualitywork__right{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img_qualitywork{
        width: 500px;
    }
    
    
}